.container {
  background-color: #fff;
  box-shadow: 5px 7px 20px 0 black;
  margin: 54px auto 0;
  padding: 1em;
  position: relative;
  width: 80%;
}

@media screen and (width <=640px) {
  .container {
    padding: 1em;
    position: relative;
    width: 90%;
  }
}

.headingContainer input {
  background: transparent;
  border: none;
  color: #000;
  font-size: 1.2em;
  width: 80%;
}

.headingContainer {
  align-items: center;
  display: flex;
  font-size: 1.8em;
  justify-content: space-between;
  padding: 16px 0 0;
}

@media screen and (width <=640px) {
  .headingContainer {
    flex-direction: column;
    padding: 8px 0 0;
  }

  .headingContainer input {
    padding-left: 0;
    width: 100%;
  }
}

.previousHashContainer,
.currentHashContainer {
  align-items: stretch;
  display: flex;
  font-size: 1em;
  justify-content: space-between;
}

.currentHash,
.previousHash {
  background: #7fda9b;
  color: black;
  flex-basis: 15%;
  font-weight: bold;
  min-width: 140px;
  padding: 12px;
  width: 100%;
}

.currentHashData,
.previousHashData {
  align-content: center;
  background: #c6c6c6;
  color: black;
  flex-basis: 85%;
  font-weight: bold;
  overflow: hidden;
  padding: 12px;
  text-overflow: ellipsis;
  width: 100%;
}

.title,
.blockID {
  color: black;
  margin: 0;
}

.blockID {
  font-size: 0.6em;
  margin-top: 8px;
}

.blockData {
  background: #bddfe9;
  color: black;
  margin: 1em 0;
  padding: 1em;
  position: relative;
}

.blockDataLabel {
  background: white;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  left: 0;
  padding: 6px 6px 6px 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.blockDateLabel {
  background: white;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  padding: 6px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 50%;
}

.blockDataContent {
  margin: 0;
  min-height: 100px;
  padding: 1em 0;
  position: relative;
  top: 10px;
}

.difficultySelect {
  background: #bddfe9;
  border: none;
  color: black;
  font-size: 1em;
  margin: 0 0 0 4px;
  padding: 4px 8px;
  width: 80px;
}

.difficultySelect:focus {
  outline: none;
}

@media screen and (width <=640px) {
  .blockDataLabel {
    padding-left: 0;
    width: 100%;
  }

  .blockDateLabel {
    display: none;
  }
}

.blockDataInput {
  background: #bddfe9;
  border: none;
  color: black;
  margin: 0;
  min-height: 150px;
  padding: 0;
  position: relative;
  resize: none;
  width: 100%;
}

.blockDataInput:focus {
  outline: none;
}

.mineButtonContainer {
  align-items: flex-start;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  justify-content: center;
  margin: 26px 0 8px;
}

.mineButton {
  background: #49ee6c;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 1em;
}

@media screen and (width <=640px) {
  .mineButton {
    width: 100%;
  }
}

.miningText {
  font-size: 1em;
  margin: 16px 0;
}

.miningButton {
  animation: mining-stripes 10.5s infinite linear;
  background: #49ee6c;
  background: linear-gradient(
    -45deg,
    transparent 25%,
    #49ee6c 25%,
    #49ee6c 50%,
    transparent 50%,
    transparent 75%,
    #49ee6c 75%
  );
  background: linear-gradient(
    -45deg,
    transparent 25%,
    #49ee6c 25%,
    #49ee6c 50%,
    transparent 50%,
    transparent 75%,
    #49ee6c 75%
  );
  background: linear-gradient(
    -45deg,
    transparent 25%,
    #49ee6c 25%,
    #49ee6c 50%,
    transparent 50%,
    transparent 75%,
    #49ee6c 75%
  );
  background-color: linear-gradient(
    -45deg,
    transparent 25%,
    #49ee6c 25%,
    #49ee6c 50%,
    transparent 50%,
    transparent 75%,
    #49ee6c 75%
  );
  background-size: 27px 27px;
  border: none;
  color: black;
  font-size: 1em;
  font-weight: bold;
  height: 50px;
  position: inherit;
  width: 100%;
}

@keyframes mining-stripes {
  from {
    background-position: 0%;
  }

  to {
    background-position: 100%;
  }
}

@keyframes mining-stripes {
  from {
    background-position: 0%;
  }

  to {
    background-position: 100%;
  }
}

.footerContainer {
  align-items: flex-start;
  color: #000;
  display: flex;
  font-size: 1em;
  justify-content: space-between;
  margin: 0 0 16px;
}

@media screen and (width <=640px) {
  .footerContainer span:nth-last-child(1) {
    text-align: right;
  }
}
