.container {
  background-color: #80ffff73;
  border-radius: 16px;
  box-shadow: 5px 7px 20px 0 black;
  margin: 54px auto 0;
  padding: 0;
  position: relative;
  width: 80%;
}

@media screen and (width <=640px) {
  .container {
    position: relative;
    width: 90%;
  }
}

.headingContainer input {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2em;
  margin: -8px 0;
  padding: 12px 16px;
  width: 100%;
}

.headingContainer input::placeholder {
  color: #fffa;
}

.headingContainer input:focus {
  background-color: #ffffff3d;
  outline: none;
}

.headingContainer {
  align-items: center;
  display: flex;
  font-size: 1.8em;
  justify-content: space-between;
  padding: 0;
}

@media screen and (width <=640px) {
  .headingContainer {
    flex-direction: column;
    padding: 0 8px;
  }

  .headingContainer input {
    padding-left: 12px;
    width: calc(100% - 12px);
  }
}

.dateContainer {
  align-items: center;
  display: flex;
  font-size: 1em;
  justify-content: space-between;
  padding: 0;
}

.previousHashContainer,
.currentHashContainer,
.miningTimeContainer {
  align-items: stretch;
  display: flex;
  font-size: 1em;
  justify-content: space-between;
}

.currentHashContainer {
  background-color: #ffffff9c;
  border-radius: 15px 15px 0 0;
  margin-bottom: 8px;
}

.previousHashContainer {
  background-color: #ffffff9c;
  border-radius: 0 0 15px 15px;
}

.currentHash,
.previousHash,
.miningTime {
  color: black;
  flex-basis: 12%;
  font-weight: bold;
  min-width: 140px;
  padding: 12px 0 12px 12px;
  width: 100%;
}

.miningTime {
  background: #ff4b02cc;
  color: black;
  flex-basis: 100%;
  padding: 8px;
}

.currentHashData,
.previousHashData {
  align-content: center;
  color: black;
  flex-basis: 88%;
  font-weight: bold;
  overflow: hidden;
  padding: 12px;
  text-overflow: ellipsis;
  width: 100%;
}

.title,
.blockID {
  color: black;
  margin: 0;
}

.blockID {
  align-items: flex-end;
  background-color: #21ff7f75;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 0.6em;
  height: 72px;
  margin-top: 0;
  min-width: 100px;
  padding: 16px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 43px;
}

.blockIDLabel {
  font-size: 0.8em;
  font-weight: bold;
}

.blockIDNumber {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 1em;
}

.blockData {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0;
  padding: 0;
}

.blockDataLabel {
  background: white;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  left: 0;
  padding: 6px 6px 6px 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.blockDateLabel {
  background: white;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  padding: 6px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 50%;
}

.blockDataContent {
  margin: 0;
  min-height: 100px;
  padding: 1em 0;
  position: relative;
  top: 10px;
}

.difficultySelect {
  align-self: center;
  background: transparent;
  border: none;
  color: black;
  display: flex;
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0 4px;
  padding: 4px 8px;
  width: 60px;
}

.difficultySelect:focus {
  outline: none;
}

@media screen and (width <=640px) {
  .blockDataLabel {
    padding-left: 0;
    width: 100%;
  }

  .blockDateLabel {
    display: none;
  }
}

.blockDataInput {
  background: transparent;
  border: none;
  color: white;
  margin: 9px 0;
  min-height: 120px;
  padding: 16px;
  resize: none;
}

.blockDataInput::placeholder {
  color: #fffa;
}

.blockDataInput:focus {
  background-color: #ffffff3d;
  outline: none;
}

.mineButtonContainer {
  align-items: flex-end;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  justify-content: center;
  margin: 60px 0 16px;
}

@media screen and (width <=640px) {
  .mineButtonContainer {
    margin: 80px 0 16px;
  }
}

.mineButton {
  background: #49ee6c;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 1em;
}

@media screen and (width <=640px) {
  .mineButton {
    width: 100%;
  }
}

.miningText {
  font-size: 1em;
  margin: 16px 0;
}

.miningButton {
  animation: mining-stripes 10.5s infinite linear;
  background: #49ee6c;
  background: linear-gradient(
    -45deg,
    transparent 25%,
    #49ee6c 25%,
    #49ee6c 50%,
    transparent 50%,
    transparent 75%,
    #49ee6c 75%
  );
  background: linear-gradient(
    -45deg,
    transparent 25%,
    #49ee6c 25%,
    #49ee6c 50%,
    transparent 50%,
    transparent 75%,
    #49ee6c 75%
  );
  background: linear-gradient(
    -45deg,
    transparent 25%,
    #49ee6c 25%,
    #49ee6c 50%,
    transparent 50%,
    transparent 75%,
    #49ee6c 75%
  );
  background: linear-gradient(
    -45deg,
    transparent 25%,
    #49ee6c 25%,
    #49ee6c 50%,
    transparent 50%,
    transparent 75%,
    #49ee6c 75%
  );
  background-size: 27px 27px;
  border: none;
  color: black;
  font-size: 1em;
  font-weight: bold;
  height: 50px;
  position: inherit;
  width: 100%;
}

.nonceContainer,
.nonceContainerMining {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  justify-content: space-between;
  padding: 0;
}

.nonceLabel {
  font-size: 0.8em;
  margin-right: 8px;
}

.nonceData {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0;
}

.nonceContainerMining {
  background: #49ee6c;
  padding: 6px;
}

@keyframes mining-stripes {
  from {
    background-position: 0%;
  }

  to {
    background-position: 100%;
  }
}

@keyframes mining-stripes {
  from {
    background-position: 0%;
  }

  to {
    background-position: 100%;
  }
}

.footerContainer {
  background-color: #2ba2ead4;
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  gap: 12px;
  justify-content: flex-end;
  margin: 0 0 16px;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 154px;
  width: 120px;
}

@media screen and (width <=640px) {
  .footerContainer {
    top: 170px;
  }
}

.footerContainerLabel {
  align-self: center;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  margin-right: 8px;
}

@media screen and (width <=640px) {
  .footerContainer span:nth-last-child(1) {
    text-align: right;
  }
}
