.footer a {
  display: flex;
  flex: 0 0 auto;
}

.footer {
  background-color: #7fda9aab;
  color: black;
  display: flex;
  font-weight: bold;
  gap: 16px;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.footerDocs {
  background-color: #7fda9aab;
  color: black;
  display: flex;
  font-weight: bold;
  gap: 16px;
  justify-content: center;
  margin: 0 25%;
  padding: 1rem;
  width: 75%;
}

@media screen and (width <=640px) {
  .footerMeta {
    display: none;
  }
}
