.container {
  display: flex;
  align-items: center;
  gap: 16px;
  background: #ff4b02;
}

.cta {
  padding: 1em;
  background-color: #0070f3;
  border: none;
  font-size: large;
  cursor: pointer;
}

.cta:hover {
  background-color: #0090ff;
}

.wallet {
  font-weight: bold;
}
