.container {
  align-items: center;
  backdrop-filter: blur(10px);
  background: #ff4b02cc;
  box-shadow: 0 5px 10px 2px rgb(0 0 0 / 20%);
  display: flex;
  gap: 16px;
  justify-content: space-between;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  align-items: center;
  display: flex;
  filter: invert();
  gap: 16px;
  height: 50px;
  margin: 16px;
  width: 70%;
}

.logo h1 {
  color: black;
  font-size: 1.5em;
}

.logo h3 {
  color: black;
  font-size: 1em;
  width: 100%;
}

.logoContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
}

.logoContainer h3,
.logoHeading {
  display: flex;
  margin: 0;
}

@media screen and (width <=1280px) {
  .logoContainer {
    display: flex;
    gap: 0;
  }

  .logoContainer h3,
  .logoHeading {
    margin: 0;
  }
}

@media screen and (width <=1024px) {
  .logoContainer h3 {
    display: none;
  }
}

@media screen and (width <=850px) {
  .logo h3 {
    display: none;
  }
  .logoContainer {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  gap: 8px;
  margin: 16px;
}

.mobileButtons {
  display: none;
}

@media screen and (width <=900px) {
  .buttons {
    display: none;
  }

  .mobileButtons {
    display: flex;
    gap: 8px;
    margin: 16px;
  }
}

@media screen and (width <=640px) {
  .logoHeading {
    display: none;
  }
}

.cta {
  background-color: #ff6b3e;
  border: none;
  color: white;
  cursor: pointer;
  font-size: large;
  padding: 0.5em 1em;
  white-space: nowrap;
}

.cta:hover {
  background-color: #8a2202;
}

.active {
  background-color: #8a2202;
}
